.card-button {
  background: none;
  border: none;
  color: white;
  background-color: rgb(192, 26, 26);
  font-weight: 600;
  cursor: pointer;
  padding: 0.3rem;
  border-radius: 12px;
}

.card-button:hover {
  color: black;
  background-color: rgb(192, 26, 26);
}

@media only screen and (max-width: 550px) {
  .card-button {
    margin-bottom: 0.6rem;
  }
}
